<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio|{%block title%}Home{%endblock%}</title>
    <link rel="icon" type="image/x-icon" href="static/photo/logo.png">

    <style>
    {% block css%}
    {% endblock %}
    </style>

<body>
    {%block content%}
    {%endblock%}

    <script>
        {% block js %}
        {% endblock %}
    </script>
</body>

</html>